In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data1 = pd.read_csv('ch.xackaton_po_bitovie_abon_nachisleniya_2019_2021-сн2.csv')

In [3]:

data1.head(2)

,day_period,id,month_year,stove_type,tariff,voltage,used_energy_capacity_kVth,used_energy_cost_with_nds_rub
0,день,120051,2020.09,Газовая,двухтарифная,СН2,630,2904.3
1,ночь,120051,2020.09,Газовая,двухтарифная,СН2,410,721.6

In [4]:
type(data1.month_year.iloc[0])

numpy.float64

In [5]:
# def get_god(row):
# #     print(row)
#     b = row.month_year
#     return int(b)

# data1['year'] = data1.apply(get_god, axis=1)

In [6]:
# def get_m(row):
# #     print(row)
#     b = np.round((row.month_year - row.year)*100)
#     return b

# data1['month'] = data1.apply(get_m, axis=1)
# data1.month.unique()

In [7]:
len(data1.month_year.unique())
l1 =list(data1.month_year.unique())
l1 = np.sort(l1)
l1

array([2019.09, 2019.1 , 2019.11, 2019.12, 2020.01, 2020.02, 2020.03,
       2020.04, 2020.05, 2020.06, 2020.07, 2020.08, 2020.09, 2020.1 ,
       2020.11, 2020.12, 2021.01, 2021.02, 2021.03, 2021.04, 2021.05,
       2021.06, 2021.07, 2021.08, 2021.09])

In [8]:
def get_m(row):

    b = row.month_year
    if b <2020:
        return 1
    elif b <2020.05:
        return 2
    elif b < 2020.09:
        return 3
    elif b < 2021.01:
        return 4
    elif b < 2021.05:
        return 5
    elif b < 2021.09:
        return 6
    else:
        return 7

data1['kvartal'] = data1.apply(get_m, axis=1)
data1.kvartal.unique()

array([4, 3, 2, 7, 1, 6, 5])

In [9]:
clientl = list(data1.id.unique())
client = pd.DataFrame(index=clientl)

dv = data1[data1.tariff=='двухтарифная'].id
odn = data1[data1.tariff=='однотарифная'].id
client['tariff'] = 3
client['tariff'][dv] = 2
client['tariff'][odn] = 1

In [10]:
client['e_kv1'] = 0
client['e_kv2'] = 0
client['e_kv3'] = 0
client['e_kv4'] = 0
client['e_kv5'] = 0
client['e_kv6'] = 0
client['e_kv7'] = 0

client['p_kv1'] = 0
client['p_kv2'] = 0
client['p_kv3'] = 0
client['p_kv4'] = 0
client['p_kv5'] = 0
client['p_kv6'] = 0
client['p_kv7'] = 0

In [11]:
# clientl

In [12]:
for i in clientl:
    data3 = data1[(data1.id==i)]
    for j in list(range(1,8)):
        data2 = data3[(data3.kvartal==j)]
        client['e_kv'+str(j)][i] = np.mean(data2.used_energy_capacity_kVth)
        client['p_kv'+str(j)][i] = np.mean(data2.used_energy_cost_with_nds_rub)

In [13]:
client

,tariff,e_kv1,e_kv2,e_kv3,e_kv4,e_kv5,e_kv6,e_kv7,p_kv1,p_kv2,p_kv3,p_kv4,p_kv5,p_kv6,p_kv7
120051,2,565.000000,993.0,666.0,745.0,1438.0,697.0,643.0,1768.000000,3102.0,2197.0,2473.0,4682.0,2404.0,2237.0
136506,2,1414.000000,2683.0,1875.0,716.0,2273.0,611.0,539.0,5021.000000,9488.0,6703.0,2579.0,8704.0,2246.0,2049.0
157197,2,2318.000000,2821.0,-54.0,2850.0,5702.0,1297.0,1190.0,6701.000000,8299.0,240.0,8176.0,15944.0,4286.0,4117.0
157545,2,58.000000,52.0,146.0,53.0,-6.0,170.0,75.0,208.000000,187.0,531.0,194.0,-22.0,636.0,286.0
1059120,1,650.000000,588.0,313.0,632.0,884.0,863.0,795.0,2530.000000,2287.0,1233.0,2535.0,3546.0,3507.0,3299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35665698,1,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN,NaN
35666511,1,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
35668155,1,61.666667,NaN,NaN,NaN,NaN,NaN,NaN,260.026667,NaN,NaN,NaN,NaN,NaN,NaN
198468243,1,107.000000,0.0,NaN,NaN,NaN,NaN,NaN,594.920000,0.0,NaN,NaN,NaN,NaN,NaN
76938132,2,92.500000,NaN,NaN,NaN,NaN,NaN,NaN,440.040000,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
data2 = data1[data1.tariff=='однотарифная']
data2.dropna(inplace=True)
data2 =data2[(data2.used_energy_capacity_kVth>0)]
data2['price'] = data2.used_energy_cost_with_nds_rub/data2.used_energy_capacity_kVth
np.mean(data2.price)# цена квт однотариф

5.159417544709985

In [15]:
def get_m1(row):

    b = np.mean([row.p_kv1,row.p_kv2,row.p_kv3,row.p_kv4,row.p_kv5,row.p_kv6,row.p_kv7])
    return b

client['al1'] = client.apply(get_m1, axis=1)

In [16]:
def get_m2(row):

    b = np.mean([row.e_kv1,row.e_kv2,row.e_kv3,row.e_kv4,row.e_kv5,row.e_kv6,row.e_kv7])
    return b

client['al_en'] = client.apply(get_m2, axis=1)

In [17]:
price1 = np.mean(data2.price)
client['al2']=client['al1']
client['al3'] =client['al1']

cl_ind = client[client.tariff!=1].index
client['al1'][cl_ind]= client['al_en'][cl_ind]*price1

In [18]:
data3 = data1[data1.tariff=='двухтарифная']
data2=data3[data3.day_period=='день']
data2.dropna(inplace=True)
data2 =data2[(data2.used_energy_capacity_kVth>0)]
data2['price'] = data2.used_energy_cost_with_nds_rub/data2.used_energy_capacity_kVth
pice21=np.mean(data2.price)# цена квт однотариф

data2=data3[data3.day_period=='ночь']
data2.dropna(inplace=True)
data2 =data2[(data2.used_energy_capacity_kVth>0)]
data2['price'] = data2.used_energy_cost_with_nds_rub/data2.used_energy_capacity_kVth
pice22=np.mean(data2.price)# цена квт однотариф
print(pice21,pice22)

5.278922862452854 2.006180001928891

In [19]:
cl_ind = client[client.tariff==3].index
for i in cl_ind:
    data3 = data1[data1.id==i]
    c1 = data3[data3.day_period=='ночь']
    
    c11 = np.mean(c1.used_energy_capacity_kVth)
    
    c2 = data3[data3.day_period!='ночь']
    c22 = np.mean(c2.used_energy_capacity_kVth)
    client['al2'][i] = c22*pice21 +c11*pice22

In [27]:
client.dropna(inplace=True)
client

,tariff,e_kv1,e_kv2,e_kv3,e_kv4,e_kv5,e_kv6,e_kv7,p_kv1,p_kv2,p_kv3,p_kv4,p_kv5,p_kv6,p_kv7,al1,al_en,al2,al3
120051,2,565.00,993.00,666.00,745.00,1438.00,697.00,643.0,1768.0000,3102.0000,2197.0000,2473.0000,4682.0000,2404.0000,2237.00,4235.881804,821.000000,2694.714286,2694.714286
136506,2,1414.00,2683.00,1875.00,716.00,2273.00,611.00,539.0,5021.0000,9488.0000,6703.0000,2579.0000,8704.0000,2246.0000,2049.00,7452.410114,1444.428571,5255.714286,5255.714286
157197,2,2318.00,2821.00,-54.00,2850.00,5702.00,1297.00,1190.0,6701.0000,8299.0000,240.0000,8176.0000,15944.0000,4286.0000,4117.00,11884.349784,2303.428571,6823.285714,6823.285714
157545,2,58.00,52.00,146.00,53.00,-6.00,170.00,75.0,208.0000,187.0000,531.0000,194.0000,-22.0000,636.0000,286.00,403.908688,78.285714,288.571429,288.571429
1059120,1,650.00,588.00,313.00,632.00,884.00,863.00,795.0,2530.0000,2287.0000,1233.0000,2535.0000,3546.0000,3507.0000,3299.00,2705.285714,675.000000,2705.285714,2705.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100401264,1,283.50,133.00,337.25,418.75,-74.00,84.25,132.0,1576.2600,739.4800,1894.0650,2396.6325,-424.0200,499.4525,782.76,1066.375714,187.821429,1066.375714,1066.375714
100401267,1,20.00,184.00,184.00,184.00,79.50,36.50,-24.0,111.2000,1023.0400,1038.6800,1054.3200,443.4225,215.8950,-142.32,534.891071,94.857143,534.891071,534.891071
100437093,1,0.25,0.00,78.25,53.00,16.25,105.50,115.0,1.3900,0.0000,443.0175,303.6900,93.1125,616.1150,681.95,305.610714,52.607143,305.610714,305.610714
101919183,1,581.25,1072.25,598.00,755.00,1343.00,800.00,914.0,2261.0625,4171.0525,2363.0300,3027.5500,5385.4300,3259.5900,3793.10,3465.830714,866.214286,3465.830714,3465.830714
101923635,1,42.00,1163.25,729.50,616.00,758.00,607.50,0.0,233.5200,6467.6700,4116.7100,3528.7450,4343.3400,3547.7750,-3.40,3176.337143,559.464286,3176.337143,3176.337143

In [21]:
client.columns

Index(['tariff', 'e_kv1', 'e_kv2', 'e_kv3', 'e_kv4', 'e_kv5', 'e_kv6', 'e_kv7',
       'p_kv1', 'p_kv2', 'p_kv3', 'p_kv4', 'p_kv5', 'p_kv6', 'p_kv7', 'al1',
       'al_en', 'al2', 'al3'],
      dtype='object')

In [28]:
client2=client[client.tariff==2]
listt=['e_kv1', 'e_kv2', 'e_kv3', 'e_kv4', 'e_kv5', 'e_kv6', 'e_kv7']
from sklearn.cluster import KMeans
import numpy as np
kmeans2 = KMeans(n_clusters=10, random_state=11).fit(client2[listt])

client2['clasters']=kmeans2.predict(client2[listt])
client3 = client[client.tariff==1]
client3['clasters'] = kmeans2.predict(client3[listt])
for i in range(10):
    ds = np.mean(client2[client2.clasters==i].al2/client2[client2.clasters==i].al_en)
    ind = client3[client3.clasters==i].index
    client['al2'][ind] =  ds *client['al_en'][ind]

In [29]:
client.head(5)

,tariff,e_kv1,e_kv2,e_kv3,e_kv4,e_kv5,e_kv6,e_kv7,p_kv1,p_kv2,p_kv3,p_kv4,p_kv5,p_kv6,p_kv7,al1,al_en,al2,al3
120051,2,565.0,993.0,666.0,745.0,1438.0,697.0,643.0,1768.0,3102.0,2197.0,2473.0,4682.0,2404.0,2237.0,4235.881804,821.000000,2694.714286,2694.714286
136506,2,1414.0,2683.0,1875.0,716.0,2273.0,611.0,539.0,5021.0,9488.0,6703.0,2579.0,8704.0,2246.0,2049.0,7452.410114,1444.428571,5255.714286,5255.714286
157197,2,2318.0,2821.0,-54.0,2850.0,5702.0,1297.0,1190.0,6701.0,8299.0,240.0,8176.0,15944.0,4286.0,4117.0,11884.349784,2303.428571,6823.285714,6823.285714
157545,2,58.0,52.0,146.0,53.0,-6.0,170.0,75.0,208.0,187.0,531.0,194.0,-22.0,636.0,286.0,403.908688,78.285714,288.571429,288.571429
1059120,1,650.0,588.0,313.0,632.0,884.0,863.0,795.0,2530.0,2287.0,1233.0,2535.0,3546.0,3507.0,3299.0,2705.285714,675.000000,2727.848930,2705.285714

In [30]:
client2=client[client.tariff==3]
client2.shape

(11, 19)

In [31]:
client2=client[client.tariff==3]
listt=['e_kv1', 'e_kv2', 'e_kv3', 'e_kv4', 'e_kv5', 'e_kv6', 'e_kv7']
from sklearn.cluster import KMeans
import numpy as np
kmeans3 = KMeans(n_clusters=2, random_state=11).fit(client2[listt])

client2['clasters']=kmeans3.predict(client2[listt])
client3 = client[client.tariff!=3]
client3['clasters'] = kmeans2.predict(client3[listt])
for i in range(2):
    ds = np.mean(client2[client2.clasters==i].al3/client2[client2.clasters==i].al_en)
    ind = client3[client3.clasters==i].index
    client['al3'][ind] = ds *client['al_en'][ind]

In [32]:
client.head(5)

,tariff,e_kv1,e_kv2,e_kv3,e_kv4,e_kv5,e_kv6,e_kv7,p_kv1,p_kv2,p_kv3,p_kv4,p_kv5,p_kv6,p_kv7,al1,al_en,al2,al3
120051,2,565.0,993.0,666.0,745.0,1438.0,697.0,643.0,1768.0,3102.0,2197.0,2473.0,4682.0,2404.0,2237.0,4235.881804,821.000000,2694.714286,3321.625083
136506,2,1414.0,2683.0,1875.0,716.0,2273.0,611.0,539.0,5021.0,9488.0,6703.0,2579.0,8704.0,2246.0,2049.0,7452.410114,1444.428571,5255.714286,5843.910077
157197,2,2318.0,2821.0,-54.0,2850.0,5702.0,1297.0,1190.0,6701.0,8299.0,240.0,8176.0,15944.0,4286.0,4117.0,11884.349784,2303.428571,6823.285714,9371.918501
157545,2,58.0,52.0,146.0,53.0,-6.0,170.0,75.0,208.0,187.0,531.0,194.0,-22.0,636.0,286.0,403.908688,78.285714,288.571429,288.571429
1059120,1,650.0,588.0,313.0,632.0,884.0,863.0,795.0,2530.0,2287.0,1233.0,2535.0,3546.0,3507.0,3299.0,2705.285714,675.000000,2727.848930,2730.934142

In [33]:
def get_m3(row):

    b = 1+np.argmin([row.al1,row.al2,row.al3])
    return b

client['best_tariff'] = client.apply(get_m3, axis=1)

In [34]:
g = client[['tariff','best_tariff']]
g.to_csv('rec_sn2_tarif.csv')
# g.T.to_json('rec_sn2_tarif.json')

In [51]:
import json

g['id'] = g.index
with open('rec_sn2_tarif.json', 'w') as f:
    json.dump(g.to_dict('records'), f)

In [ ]:
list1 = ['e_kv1', 'e_kv2', 'e_kv3', 'e_kv4', 'e_kv5', 'e_kv6', 'e_kv7',
       'p_kv1', 'p_kv2', 'p_kv3', 'p_kv4', 'p_kv5', 'p_kv6', 'p_kv7', 'al1',
       'al_en']
client1 = client[client.tariff==1][list1]
d0 = np.mean(client1[['e_kv1', 'e_kv2', 'e_kv3', 'e_kv4', 'e_kv5', 'e_kv6', 'e_kv7']])
dq0 = np.mean(client1[['p_kv1', 'p_kv2', 'p_kv3', 'p_kv4', 'p_kv5', 'p_kv6', 'p_kv7']])

In [ ]:
list1 = ['e_kv1', 'e_kv2', 'e_kv3', 'e_kv4', 'e_kv5', 'e_kv6', 'e_kv7',
       'p_kv1', 'p_kv2', 'p_kv3', 'p_kv4', 'p_kv5', 'p_kv6', 'p_kv7', 'al1',
       'al_en']
client1 = client[client.tariff==2][list1]
d1 = np.mean(client1[['e_kv1', 'e_kv2', 'e_kv3', 'e_kv4', 'e_kv5', 'e_kv6', 'e_kv7']])
dq1 = np.mean(client1[['p_kv1', 'p_kv2', 'p_kv3', 'p_kv4', 'p_kv5', 'p_kv6', 'p_kv7']])

In [ ]:
list1 = ['e_kv1', 'e_kv2', 'e_kv3', 'e_kv4', 'e_kv5', 'e_kv6', 'e_kv7',
       'p_kv1', 'p_kv2', 'p_kv3', 'p_kv4', 'p_kv5', 'p_kv6', 'p_kv7', 'al1',
       'al_en']
client1 = client[client.tariff==3][list1]
d2 = np.mean(client1[['e_kv1', 'e_kv2', 'e_kv3', 'e_kv4', 'e_kv5', 'e_kv6', 'e_kv7']])
dq2 = np.mean(client1[['p_kv1', 'p_kv2', 'p_kv3', 'p_kv4', 'p_kv5', 'p_kv6', 'p_kv7']])

In [ ]:
dataq = [d0,d1,d2]
dataq2 = [dq0,dq1,dq2]
X = np.arange(7)
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.bar(X + 0.00, dataq[0], color = 'b', width = 0.25)
ax.bar(X + 0.25, dataq[1], color = 'g', width = 0.25)
ax.bar(X + 0.50, dataq[2], color = 'r', width = 0.25)
ax.legend(labels=['однотарифный', 'двухтарифный','трехтарифный'])
plt.show()

In [ ]:
# fig = plt.figure()
# ax = fig.add_axes([0,0,1,1])

# ax.bar(X + 0.00, dataq2[0], color = 'b', width = 0.25)
# ax.bar(X + 0.25, dataq2[1], color = 'g', width = 0.25)
# ax.bar(X + 0.50, dataq2[2], color = 'r', width = 0.25)
# ax.legend(labels=['однотарифный', 'двухтарифный','трехтарифный'])
# plt.show()